<h2>Transportadoras cadastradas:</h2>
<p>Clique no nome da transportadora para ver detalhes</p>
<% if @carriers.empty? %>
  <p>Não existem transportadoras cadastradas</p>
<% else %>  
  <% @carriers.each do | carrier | %>
    <div>
      <dl>
        <dt>Nome fantasia: <dt>
        <dd><%= link_to carrier.brand_name, carrier_path(carrier.id) %></dd>
        <dt>Email: <dt>
        <dd><%= carrier.email_domain %></dd>
        <dt>Status: <dt>
        <dd><%= Carrier.human_attribute_name("status.#{carrier.status}")%></dd>
      </dl>
    </div>
  <% end %>
<% end %>
<div>
    <%= link_to 'Registrar transportadora', new_carrier_path, :class => 'panel-action' %>
</div>