<span class="panel-title">Veículos</span>
<div>
  <%= link_to 'Cadastrar Veículos', new_vehicle_path, :class => 'panel-action' %>
</div>
<% if @vehicles.empty? %>
  <p>Não há veículos cadastrados.</p>
<% end %>
<p>Clique no nome do modelo do veículos para ver detalhes.</p>
<% @vehicles.each do | v |%>
  <div>
    <dl>
      <dt>Modelo:</dt>
      <dd><%= link_to v.model, vehicle_path(v.id) %></dd>
      <dt>Capacidade:</dt>
      <dd><%= v.max_cap %> kg</dd>
    </dl>
  </div>
<% end %>